<div class="">

    <div class="players-header-container">
        <h1>Players</h1>
    </div>

    <table mat-table [dataSource]="players" class="mat-elevation-z8 players-table">

        <ng-container matColumnDef="number">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let element">{{element.shirtNumber}}</td>
        </ng-container>

        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef>Position</th>
          <td mat-cell *matCellDef="let element">{{element.position}}</td>
        </ng-container>
      
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{element.name}}</td>
        </ng-container>
      
        <ng-container matColumnDef="goals">
          <th mat-header-cell *matHeaderCellDef>Goals</th>
          <td mat-cell *matCellDef="let element">{{element.goals}}</td>
        </ng-container>
      
        <ng-container matColumnDef="assists">
          <th mat-header-cell *matHeaderCellDef>Assists</th>
          <td mat-cell *matCellDef="let element">{{element.assists}}</td>
        </ng-container>

        <ng-container matColumnDef="concededGoals">
          <th mat-header-cell *matHeaderCellDef>Goals Conceded</th>
          <td mat-cell *matCellDef="let element">{{element.concededGoals}}</td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
            mat-row
            (click)="selectPlayer(row)"
            [class.players-row-is-clicked]="selectedPlayer == row"
            *matRowDef="let row; columns: displayedColumns;"
        ></tr>
    </table>
</div>