.players-header-container {
    padding: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    padding: 1%;
}

.header-container div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.player-container {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 7%;
    cursor: pointer;
}

.player-container:hover {
    background-color: white;
    color: black;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.mat-mdc-card-content:first-child {
    padding-top: 0;
}

.mat-mdc-card-content:last-child {
    padding-bottom: 0;
}

.players-table {
    width: 90%;
    margin: 2%;
}

.mat-column-name {
    width: 50%;
}

.mat-column-position {
    width: 10%;
}

.mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
}

.players-row-is-clicked {
    font-weight: bold;
}