<mat-drawer-container class="side-nav-container" autosize>

    <div class="sidenav-content">

        <a class="sidenav-option" routerLink="/">
            <mat-icon class="sidenav-icon" matTooltip="Home" aria-label="Home" fontIcon="home"></mat-icon>
        </a>

        <a class="sidenav-option" routerLink="/teams">
            <mat-icon class="sidenav-icon" matTooltip="Teams" aria-label="Teams" fontIcon="groups"></mat-icon>
        </a>

        <a class="sidenav-option" routerLink="/training">
            <mat-icon class="sidenav-icon" matTooltip="Training" aria-label="Training" fontIcon="directions_run"></mat-icon>
        </a>

        <a class="sidenav-option" routerLink="/games">
            <mat-icon class="sidenav-icon" matTooltip="Games" aria-label="Games" fontIcon="sports_soccer"></mat-icon>
        </a>

        <a class="sidenav-option" routerLink="/calendar">
            <mat-icon class="sidenav-icon" matTooltip="Calendar" aria-label="Calendar" fontIcon="calendar_month"></mat-icon>
        </a>

        <a class="sidenav-option" routerLink="/settings">
            <mat-icon class="sidenav-icon" matTooltip="Settings" aria-label="Settings" fontIcon="settings"></mat-icon>
        </a>

        <a class="sidenav-option" routerLink="/logout">
            <mat-icon class="sidenav-icon" matTooltip="Logout" aria-label="Logout" fontIcon="logout"></mat-icon>
        </a>
    </div>

</mat-drawer-container>
  