.player-header-container {
    padding: 5%;
}

.player-card {
    margin-top: 2%;
    margin-right: 2%;
    margin-left: 6%;
}

.player-image {
    margin: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.player-image img {
    width: 20%;
    height: 20%;
}