<div *ngIf="player">
    <div class="player-header-container">
        <h1>Player Info</h1>
    </div>

    <mat-card class="player-card">
        <mat-card-header>
          <mat-card-title> {{ player.name }} </mat-card-title>
          <mat-card-subtitle> {{ player.shirtNumber }} </mat-card-subtitle>
        </mat-card-header>
        <div class="player-image">
          <img src="../../../../assets/images/person.png" [alt]="player.name">
        </div>
        <mat-card-content>
          <div>
            <mat-card-subtitle> Position </mat-card-subtitle>
            <p> {{ player.position }} </p>
          </div>
          <div>
            <mat-card-subtitle> Age </mat-card-subtitle>
            <p> {{ player.age }} </p>
          </div>
          <div>
            <mat-card-subtitle> Goals </mat-card-subtitle>
            <p> {{ player.goals }} </p>
          </div>
          <div>
            <mat-card-subtitle> Assists </mat-card-subtitle>
            <p> {{ player.assists }} </p>
          </div>
          <div>
            <mat-card-subtitle> Conceded Goals </mat-card-subtitle>
            <p> {{ player.concededGoals }} </p>
          </div>
        </mat-card-content>
    </mat-card>
</div>