<div class="teams-container">

    <div class="teams-list">
        <div class="team-header-container">
            <h1>Teams</h1>
        </div>
        <mat-card *ngFor="let team of teams" class="team-container" (click)="selectTeam(team)">
            <img src="../../assets/images/logo.png" alt="">
            <mat-card-content class="content"> {{ team.club }} </mat-card-content>
            <mat-card-content class="content"> {{ team.name }} </mat-card-content>
            <mat-card-content class="content"> {{ team.season }} </mat-card-content>
        </mat-card>
    </div>

    <div class="players-list" *ngIf="selectedTeam">
        <app-players [players]="selectedTeam.players"></app-players>
    </div>

    <div class="player-info" *ngIf="selectedPlayer">
        <h1>Player info</h1>
    </div>

</div>