<div class="teams-container">

    <div class="teams-list">
        <app-teams-list (event)="selectTeam($event)"></app-teams-list>
    </div>

    <div class="players-list" *ngIf="selectedTeam">
        <app-players [players]="selectedTeam.players" [teamId]="selectedTeam.id" (event)="selectPlayer($event)"></app-players>
    </div>

    <div class="info">
        <app-player-info *ngIf="selectedPlayer; else showTeamInfo" [player]="selectedPlayer"></app-player-info>
        <ng-template class="info" #showTeamInfo>
            <app-team-info [team]="selectedTeam"></app-team-info>
        </ng-template>
    </div>
</div>