.trainings-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.future-trainings {
    width: 40%;
}

.past-trainings {
    width: 35%;
}

.teams-list {
    width: 25%;
    height: 100%;
}