@import "tailwindcss";

@theme {
  --color-lightblack: #171717;
  --color-lightgrey: rgb(71, 71, 71);
  --color-selected: #1e3a8a;
  --color-selected-border: #3b82f6;
  --color-hover: #262626;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:hover {
  background-color: rgb(71, 71, 71);
  border-radius: 12px;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
